*{
    margin: 0;
    padding: 0;
    font-family: "poppins" , "sans-serif";
    box-sizing: border-box;
   
}
body{
    background-color: #222;
}
.card{
    background: linear-gradient(135deg,#00feba,#5b548a);
    width: 90%;
    max-width: 470px;
   margin: 100px auto;
   border-radius: 25px;
   text-align: center;
   
}
input{
    padding: 15px;
    width: 60%;
    border-radius: 15px;
    border: 0;
    outline: 0;
}
h1{
    color: white;
    font-weight: 500;
    font-size: 60px;
   
}
h2{
    color: white;
    font-weight: 400;
    font-size: 40px;
}
.search {
    border: 0;
    outline: 0;
    width: 50px;
    height: 50px;
    border-radius: 30px;
   margin: 10px 0 0 11px;
}
.details{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
.col{
    display: flex;
}
.col img{
    width: 40px;
    height: 40px;
    margin: 10px 9px 0 0;
}
p:first-child {
    color: white;
    font-size: 40px;
}
p:nth-child(2){
    color: white;
}
.wheat{
    width: 300px;
}

