.calculator {
    position: relative;
    min-width: 350px;
    width: 30%;
    margin: auto;
    top: 60px;
    left: 40px;
    background-color: black;
    height: 575px;
    border-radius: 15px;
}

button {
    border-radius: 45px;
    position: relative;
    margin: 0 0 5px 0;
    left: 10px;
    top: 40px;
    height: 80px;
    width: 80px;
    font-size: 39px;
    color: white;
    cursor: pointer;
    border: none;
    transition: all;
    transition-duration: 100ms;
    transform: scale(1);
}

button:hover {
    color: darkblue;
}

button:active {
    position: relative;
    z-index: 1;
    transform: scale(1.2);
    color: brown;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    border-radius: 11px;
    position: relative;
    left: 10px;
    top: 40px;
    box-sizing: border-box;
    width: 333px;
    padding: 30px;
    color: black;
}

input:hover {
    border: 4px solid rgb(54, 4, 190);
}

::placeholder {
    font-size: 50px;
    color: black;
}

.A {
    background-color: gray;
}

.B {
    background-color: orange;
}

.C {
    background-color: rgb(51, 50, 50);
}

.D {
    width: 162px;
}