   * {
       margin: 0;
       padding: 0;
       font-family: "poppins , sans-serif";
       box-sizing: border-box;
   }

   .container {
       margin: 50px 60px;
       width: 60%;
       max-width: 430px;

   }

   body {
       background: #002339;
   }

   span {
       color: rgb(4, 104, 37);
       font-weight: 100;
       font-size: 30px;
       border-bottom: 2px solid rgb(4, 104, 37);
   }

   .details {
       margin: 20px 0 0 20px;
       background-color: white;
       width: 300px;
       height: 40px;
       display: flex;
       justify-content: space-between;
       align-items: center;
       border-radius: 7px;
   }

   .details img {
       width: 20px;

   }

   input {
       height: 30px;
       border: 0;
       outline: 0;
   }

   .button1 {
       height: 20px;
       display: flex;
       align-items: center;
       margin: 30px 0 0 150px;

   }

   .edit {
       height: 20px;
       justify-content: center;
       
   }

   .but {
       background-color: green;
       font-size: 18px;
       color: white;
       border-radius: 6px;
       text-align: start;
       box-shadow: 2px 3px 4px #035003;
   }

   h1 {
       color: white;
   }